annotated-types==0.6.0
flake8==6.1.0
isort==5.12.0
mccabe==0.7.0
pycodestyle==2.11.1
pydantic==2.4.2
pydantic-settings==2.0.3
pydantic_core==2.10.1
pyflakes==3.1.0
python-dotenv==1.0.0
typing_extensions==4.8.0
